.sidebar
  .side-header
    .side-header__name
      = current_user.name
    %ul.menu
      %li.menu__create-group
        =link_to "" do 
          %i.fa.fa-edit
      %li.menu__settings
        =link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups
    %ul.group-list
      %li.group-list__name
        sample-group1
      %li.group-list__message
        sample-message1
      %li.group-list__name
        sample-group2
      %li.group-list__message
        sample-message2