.chat-screen {
  background-color:#fafafa;
  height: calc(100% - 190px);
  padding: 46px 40px 0 40px;
}

.chat-messages {
  &__name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 10px 0;
  }
  &__time {
    float: left;
    color: $color-text-gray;
    font-size: 12px;
  }
  &__text {
    clear: both;
    color: $color-text-black;
    font-size: 14px;
    padding-bottom: 40px;
  }
}